---
self-contained: true
title: "GSB 544-Lab 3"
author: "Ruojia Kuang"
format:
  html: 
    theme: cosmo
---

In [31]:
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")

In [32]:
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

#Function 1: pluralize_gift()

In [33]:
def pluralize_gift(gift):
    if "oo" in gift:
        gift = gift.replace("oo", "ee")
    elif gift == "man":
        gift = "men"
    elif gift[-1] == "y":
        gift = gift[:-1] + "ies"
    else:
        gift += "s"

    return gift

In [34]:
# Should work
pluralize_gift("goose")

'geese'

In [35]:
xmas['Plural.Gift'] = xmas['Gift.Item'].apply(pluralize_gift)
xmas[['Gift.Item', 'Plural.Gift']]

    Gift.Item Plural.Gift
0   partridge  partridges
1        dove       doves
2         hen        hens
3        bird       birds
4        ring       rings
5       goose       geese
6        swan       swans
7        maid       maids
8        lady      ladies
9        lord       lords
10      piper      pipers
11    drummer    drummers

In [ ]:
# Will work if your function is vectorized! 
pluralize_gift(xmas['Gift.Item'])

#Function 2: make_phrase()

In [39]:
xmas.replace(to_replace="twelfth", 
           value="twelve")

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Plural.Gift,Day.Word
0,1,first,partridge,NaN,NaN,in a pear tree,partridges,one
1,2,second,dove,NaN,turtle,NaN,doves,two
2,3,third,hen,NaN,french,NaN,hens,three
3,4,fourth,bird,NaN,calling,NaN,birds,four
4,5,fifth,ring,NaN,golden,NaN,rings,five
5,6,sixth,goose,a-laying,NaN,NaN,geese,six
6,7,seventh,swan,a-swimming,NaN,NaN,swans,seven
7,8,eighth,maid,a-milking,NaN,NaN,maids,eight
8,9,ninth,lady,dancing,NaN,NaN,ladies,nine
9,10,tenth,lord,a-leaping,NaN,NaN,lords,ten
10,11,eleventh,piper,piping,NaN,NaN,pipers,eleven
11,12,twelve,drummer,drumming,NaN,NaN,drummers,twelve

In [57]:
def make_phrase(num, num_word, item, verb, adjective, location):
    """
    Constructs a phrase based on the provided arguments.
    
    Parameters:
    - num (int): The day number.
    - num_word (str): The day number in word form.
    - item (str): The gift item for that day.
    - verb (str, optional): The verb associated with the gift.
    - adjective (str, optional): The adjective associated with the gift.
    - location (str, optional): The location associated with the gift.
    
    Returns:
    - str: Constructed phrase.
    """
  ## Step 1: Replace NAs with blank strings
    verb = "" if pd.isna(verb) else verb
    adjective = "" if pd.isna(adjective) else adjective
    location = "" if pd.isna(location) else location
     
  ## Step 2: If the day number is larger than 1, the gift items need pluralized!
  ### Hint: call the function you created above!
    if num > 1:
        item = pluralize_gift(item)
  
  ## Step 3: Figure out if a gift item starts with a vowel
    starts_with_vowel = item[0].lower() in ['a', 'e', 'i', 'o', 'u']
  
  ## Step 4: For the first day, if the gift item starts with a vowel, replace the day with "an" and if the gift item does not start with a vowel, replace the day with "a" (e.g. a partridge in a pear tree). If it is not the first day, use just the number word (e.g. ten lords a leap)
    if num == 1:
        num_word = "an" if starts_with_vowel else "a"  
  ## Step 5: Put all of the pieces together into one string and return!
    phrase = f"{num_word} {adjective} {item} {verb} {location}".strip().replace("  ", " ")
    return phrase

In [58]:
xmas.head()

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Plural.Gift,Day.Word
0,1,first,partridge,NaN,NaN,in a pear tree,partridges,one
1,2,second,dove,NaN,turtle,NaN,doves,two
2,3,third,hen,NaN,french,NaN,hens,three
3,4,fourth,bird,NaN,calling,NaN,birds,four
4,5,fifth,ring,NaN,golden,NaN,rings,five

In [60]:
# Test the function again with the given example
test_output = make_phrase(num = 10, num_word = "ten", item = "lord", verb = "a-leaping", adjective = "", location = "")
test_output

'ten lords a-leaping'

In [62]:
xmas['Full.Phrase'] = xmas.apply(lambda row: make_phrase(row['Day'], row['Day.in.Words'], row['Gift.Item'], row['Verb'], row['Adjective'], row['Location']), axis=1)

#Function 3: sing_day()

In [149]:
def sing_day(data_set, day, col_name):
    """
    This function sings a specific day of the Christmas song based on the input day and dataset.
    
    Parameters:
    - data_set: DataFrame, the dataset containing the song data.
    - day: Integer, the day number to sing about.
    - col_name: String, the name of the column in the dataset containing the phrases for each day.
    
    Returns:
    - String, the song for the specified day.
    """
  
    # Step 1: Setup the intro line
    if day>12 or day<1 :
        return 'no verse for this day'
    # Step 1: Setup the intro line
    num_word = data_set.at[day-1,'Day.in.Words'] # convert "1" to "first" etc.
    intro = "On the " + num_word + " day of Christmas,\nmy true love sent to me:\n"
    # Step 2: Sing the gift phrases
    gifts = ""
    temp=day-1
    for i in range(temp,0,-1):
        gifts = gifts + data_set.at[i,col_name]+',\n'
    # Step 3: Put it all together and return   
    if day==1:
        day_verse=intro+gifts+data_set.at[0,col_name]+'.'
    else:
        day_verse=intro+gifts+'and '+data_set.at[0,col_name]+'.'  
    return day_verse

In [150]:
sing_day(xmas, 3, "Full.Phrase")

'On the third day of Christmas,\nmy true love sent to me:\nthird french hens,\nsecond turtle doves,\nand a partridge in a pear tree.'

In [151]:
def sing_song(data_set, verse):
    """
    Output the specified number of verses of a song
    
    Parameters
    ----------
    data_set: pandas dataset
      contains information about song
    verse: int64
      number of verse to be output
     
      
    Return
    ------
    No values
    """

    for i in range(0,verse,1):
        data_set.at[i,'Phrase']=make_phrase(data_set.iloc[i]['Day'],
                                            data_set.iloc[i]['Day.Word'],
                                            data_set.iloc[i]['Gift.Item'], 
                                            data_set.iloc[i]['Verb'],
                                            data_set.iloc[i]['Adjective'],
                                            data_set.iloc[i]['Location']
                                           )
    for i in range(1,verse+1,1):
        tmp=sing_day(data_set, i,'Phrase')
        print(tmp,'\n')

In [152]:
sing_song(xmas,12)

On the first day of Christmas,
my true love sent to me:
a partridge in a pear tree.

On the second day of Christmas,
my true love sent to me:
two turtle doves,
and a partridge in a pear tree.

On the third day of Christmas,
my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fourth day of Christmas,
my true love sent to me:
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fifth day of Christmas,
my true love sent to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the sixth day of Christmas,
my true love sent to me:
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the seventh day of Christmas,
my true love sent to me:
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eighth day of Christmas,
my true love sent to me:
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the ninth day of Christmas,
my true love sent to me:
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the tenth day of Christmas,
my true love sent to me:
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eleventh day of Christmas,
my true love sent to me:
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the twelfth day of Christmas,
my true love sent to me:
twelve drummers drumming,
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

In [153]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")

In [154]:
number_converter = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five",
    6: "six",
    7: "seven",
    8: "eight",
    9: "nine",
    10: "ten",
    11: "eleven",
    12: "twelve"
}

xmas2['Day.Word'] = xmas2['Day'].map(number_converter)

In [155]:
xmas2.head()

   Day Day.in.Words Gift.Item Verb Adjective       Location Day.Word
0    1        first     email  NaN       NaN  from Cal Poly      one
1    2       second     point  NaN      meal            NaN      two
2    3        third       pen  NaN      lost            NaN    three
3    4       fourth    review  NaN    course            NaN     four
4    5        fifth      exam  NaN  practice            NaN     five

In [156]:
xmas2.fillna('',inplace=True)

In [157]:
sing_song(xmas2,12)

On the first day of Christmas,
my true love sent to me:
an email from Cal Poly.

On the second day of Christmas,
my true love sent to me:
two meal points,
and an email from Cal Poly.

On the third day of Christmas,
my true love sent to me:
three lost pens,
two meal points,
and an email from Cal Poly.

On the fourth day of Christmas,
my true love sent to me:
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the fifth day of Christmas,
my true love sent to me:
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the sixth day of Christmas,
my true love sent to me:
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the seventh day of Christmas,
my true love sent to me:
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eighth day of Christmas,
my true love sent to me:
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the ninth day of Christmas,
my true love sent to me:
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the tenth day of Christmas,
my true love sent to me:
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eleventh day of Christmas,
my true love sent to me:
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the twelfth day of Christmas,
my true love sent to me:
twelve hours sleeping,
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.